.detail-container {
  display: flex;
  gap: 40px;
  padding: 30px;
}

.detail-img img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.detail-info {
  flex: 1;
}

.detail-info h2 {
  font-size: 28px;
}

.price {
  color: red;
  font-size: 24px;
  margin: 10px 0;
}

/* số lượng */
.qty {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.qty button {
  width: 30px;
  height: 30px;
}

/* button */
.actions {
  display: flex;
  gap: 15px;
}

.add-cart {
  background: orange;
  color: white;
  padding: 10px 20px;
  border: none;
}

.buy-now {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
}